<div class="row collapse">
	<div class="large-3 large-offset-2 columns">
		<%= image_tag "avatar_male.png", size: "200x200" %>
	</div>
	<div class="large-5 columns">
		<h1><%= @user.username %></h1>
		<p>Total like:</p>
		<p>Total post:</p>
	</div>
	<div class="large-2"></div>
</div>
<hr />
<div class="user-posts">
	<ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-4">
		<%= render partial: 'post', collection: @user.posts %>
	</ul>
</div>
