<ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-4">
	<% @posts.each do |post| %>
		<li>
			<%= link_to post_path(post) do %>
				<div class="panel radius">
					<h6 class="text-center"><strong><%= truncate post.title, length: 40 %></strong></h6>	
					<%= image_tag post.image.url(:medium) %>
				</div>
			<% end %>
		</li>
	<% end %>
</ul>
