/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "font-awesome";

body {
	.container {
		padding: 15px;
	}

	#purr-container {
		position: fixed;
		width: 30%;
		height: 5rem;
		top: 12%;
		right: 1%;
		pointer-events: none;

		.notice {
			background-color: rgba(67, 172, 106, 0.85);
		}

		.alert {
			background-color: rgba(240, 65, 36, 0.85);
		}

		.purr {
			height: 100%;
			width: 100%;

			text-align: center;
			padding: 1.5rem 0;
			font-size: 1.25rem;
			font-weight: bold;
			color: white;
			margin: 1rem 0;
		}
	}
}
