// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//
@import "foundation_and_overrides";
.posts {
	.rating {
		padding-top: 0.3em;
	}

	.byline {
		margin-top: 1.1em;
		div {
			margin-bottom: -0.55em;
		}
	}

	.comments {
		ul {
			li {
				margin: -1em 0em -1em;
			}
			list-style-type: none;
		}

		.comment-header {
			margin-bottom: -1.25em;
			.comment-sort {
				font-size: 0.75em;
			}
		}

		.comment-edit-help {
			font-size: 0.60em;
			font-style: italic;
			margin-top: -1.2em;
			span.keyword {
				font-weight: bold;
				color: $primary-color;
			}
		}
	}
}
