// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//
.posts {
	.rating {
		padding-top: 5px;
	}

	.byline {
		margin-top: 20px;
		div {
			margin-bottom: -10px;
		}
	}

	.comments {
		ul {
			li {
				margin: -1em 0em -1em;
			}
			list-style-type: none;
		}

		.comment-header {
			margin-bottom: -1.25em;
			.comment-sort {
				font-size: 0.75em;
			}
		}
	}
}
