<!DOCTYPE html>
<html>
<head>
  <title>Explorde</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="banner">
		<h1>Explorde</h1>
		<p>It's simple, upload an image, get a link, share it, cause havoc, profit!</p>
	</div>

<%= yield %>

</body>
</html>
